fastapi  # noqa: F821
uvicorn[standard]  # noqa: F821
sqlalchemy  # noqa: F821
databases[aiosqlite]  # noqa: F821
python-dotenv  # noqa: F821
pydantic-settings  # noqa: F821
rich  # noqa: F821
asgi-correlation-id  # noqa: F821
python-json-logger  # noqa: F821
logtail-python  # noqa: F821
python-jose # noqa: F821  
python-multipart # noqa: F821
passlib[bcrypt] # noqa: F821